@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
  outline: none;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;

}

.width-container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.sub-menu,
.slider .slide:nth-of-type(2),
.slider .slide:nth-of-type(3),
.services .services-guarantee,
.services .services-credit,
.item-hover,
.modal {
  display: none;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-weight: 300;
  color: #000000;
  padding: 10px 20px 0;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  padding: 0 60px;
  background-color: #f7e296;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 299px;
}

.search {
  width: 440px;
  min-height: 49px;
  display: flex;
}

.header-container {
  margin-bottom: 50px;
  display: flex;
}

.header-container .user-navigation {
  margin-left: auto;
  width: 260px;
  display: flex;
  justify-content: space-around;
}

.header-container > .user-link {
  margin-left: 20px;
  width: 100px;
  text-align: right;
}

.main-header .logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  cursor: pointer;
  margin-right: auto;
  margin-bottom: 10px;
}

.search input[type=search]::placeholder {
  line-height: 30px;
}

.search input[type=search]:hover::placeholder,
.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header a {
  color: #000000;
}

.site-navigation,
.user-navigation,
.sub-menu {
  list-style: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

.site-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  display: flex;
}

.site-navigation .header-delivery {
  margin-left: auto;
}

.site-navigation .header-guarantee {
  margin-left: 50px;
}

.site-navigation .header-contacts {
  margin-left: 120px;
}

.site-navigation .sub-menu {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  width: 1160px;
  background-color: #f7e296;
}

.search input[type=search]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[type=search] {
  background-color: inherit;
  border: none;
  line-height: 30px;
  width: 355px;
  border-bottom: 2px solid transparent;
}

.search input[type=search]:focus {
  border-bottom: 2px solid #000000;
}

.search button {
  display: none;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #000000;
  color: #000000;
  background-color: inherit;
  width: 85px;
  min-height: 49px;
}

.search input[type=search]:focus ~ button {
  display: initial;
}

.search button:hover,
.search button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search button:active {
  color: rgba(255, 255, 255, 0.3);
}

.slider {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  background-color: #ffffff;
  padding: 0 60px 0 90px;
  width: 100%;
  margin-bottom: 105px;
}

.slider .slide {
  display: flex;
  justify-content: space-between;
}

.slider .container {
  width: 500px;
  padding-top: 80px;
}

.slider h3 {
  font-size: 47px;
  line-height: 56px;
  margin: 0;
}

.slider p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin-bottom: 50px;
}

.slider .link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 220px;
  text-align: center;
}

.slider .link:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider th {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.slider td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.popular-categories {
  margin-bottom: 80px;
}

.popular-categories h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.popular-categories .popular-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular-categories .popular-item {
  width: 160px;
}

.services {
  background-color: #e5e5e5;
  margin-bottom: 95px;
  width: 100%;
}

.services-container {
  display: flex;
  justify-content: space-between;
  min-height: 320px;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.services-container .container-left {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-container .container-right {
  width: 760px;
}

.services p {
  font-weight: 300;
}

.services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.services button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  width: 160px;
}

.services button:active {
  color: #f7e184;
}

.logotypes {
  margin-bottom: 95px;
}

.logotypes .brand-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 0;
  line-height: 0;
  justify-content: space-between;
}

.info-contacts {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 495px;
}

.info-contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 50px;
}

.info-contacts p {
  font-weight: 300;
  margin: 40px 0;
}

.info ul {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  list-style: none;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 60px;
}

.info .link {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  width: 260px;
  text-align: center;
}

.info .link:active {
  color: #f7e184;
}

.contacts {
  width: 560px;
}

.contacts a:first-of-type {
  font-size: 0;
  line-height: 0;
}

.contacts img {
  margin-bottom: 78px;
}

.contacts .link {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  width: 260px;
  text-align: center;
}

.contacts .link:active {
  color: #f7e184;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-container {
  width: 1200px;
  padding: 60px 20px 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.footer-container .footer-top,
.footer-container .footer-middle,
.footer-container .footer-bottom {
  display: flex;
}

.footer-top > .user-link {
  margin-left: 20px;
  width: 100px;
  text-align: right;
}

.footer-top .user-navigation {
  width: 260px;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

.main-footer .logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #ffc600;
  cursor: pointer;
}

.main-footer .logo:hover,
.main-footer .logo:focus {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-top a:hover,
.footer-top a:focus {
  color: #ffffff;
}

.footer-top a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer ul {
  list-style: none;
  padding: 0;
}

.footer-top {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-middle {
  justify-content: space-between;
}

.footer-middle ul {
  width: 440px;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.footer-middle p {
  color: #ffffff;
}

.footer-middle .services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-middle .services-link:hover,
.footer-middle .services-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle .services-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .footer-social {
  width: 160px;
  display: flex;
  justify-content: space-around;
}

.write-us {
  background-color: #ffffff;
  color: #000000;
  width: 960px;
  padding: 95px 100px;
}

.write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4)
}

.write-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us li {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.write-us textarea {
  width: 760px;
  height: 155px;
}

.write-us input {
  width: 360px;
}

.write-us input,
.write-us textarea {
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: rgba(234, 234, 234, 0.8);
}

.write-us input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  outline: 3px solid rgba(237, 181, 181, 0.5);
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.write-us .button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  width: 200px;
  text-align: center;
}

.write-us .button:hover,
.write-us .button:focus {
  color: rgba(0, 0, 0, 0.6);
}


.write-us .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal .modal-close {
  background-color: initial;
  border: none;
}

/*===================================CATALOG.HTML====================================*/

.main-header .exit {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer .exit {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-main .page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 25px;
}

.breadcrumbs {
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  margin-left: 60px;
  display: flex;
}

.breadcrumbs li {
  margin-right: 30px;
}

.breadcrumbs li:hover,
.breadcrumbs li:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  padding-left: 60px;
}

.filters {
  background-color: #efefef;
  font-size: 14px;
  width: 268px;
  padding-right: 68px;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 23px 0 80px 0;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.filters ul {
  list-style: none;
  padding: 0;
}

.filters input + label {
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.filters input:disabled+label {
  color: rgba(0, 0, 0, 0.25);
}

.filters input:hover,
.filters input:focus {
  color: rgba(0, 0, 0, 0.6);
}

.filters button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  width: 200px;
  text-align: center;
}
.filters button:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 73px;
  margin-bottom: 78px;
}

.sorting {
  background-color: #efefef;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  margin-bottom: 70px;
}

.sorting h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 23px 0;
  margin-right: 55px;
}

.sorting .arrows {
  margin-left: auto;
}

.sorting ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: #000000;
}

.sorting .active {
  color: #000000;
}

.catalog h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;

}

.catalog p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.catalog-list .catalog-item {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 45px;
}

.catalog-item img {
  margin-bottom: 32px;
}

.catalog-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.catalog .item-hover {
  opacity: 0;
  background-color: #eeeeee;
}

.catalog-item img:hover + .item-hover {
  opacity: 1;
}

.item-hover {
  width: 360px;
  height: 380px;
  background-color:  rgba(238, 238, 238, 0.7);
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.item-hover .item-basket {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  margin-top: 50%;
}

.item-hover .item-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-hover .item-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: initial;
}

.item-hover .item-compare:hover,
.item-hover .item-compare:focus {
  color: #000000;
}

.item-hover .item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog .pagination-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ebebeb;
  list-style: none;
  padding: 0;
}

.catalog .active {
  color: #000000;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-list li {
  margin: 25px 30px;
}

.pagination-list .backward {
  margin-right: auto;
}
.pagination-list .forward {
  margin-left: auto;
}

.pagination-list .pagination-item {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list .pagination-item a:hover,
.pagination-list .pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list .pagination-item a:active {
  color: #000000;
}

.pagination-list .backward a:hover,
.pagination-list .forward a:hover,
.pagination-list .backward a:focus,
.pagination-list .forward a:focus {
  background-color: #d9d9d9;
}

.pagination-list .backward a:active,
.pagination-list .forward a:active {
  color: rgba(0, 0, 0, 0.3);
}

