@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

html {
  box-sizing: border-box;
  outline: none;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
}

.width-container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}



.item-hover,
.modal {
  display: none;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-weight: 300;
  color: #000000;
  padding: 40px 20px 0;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  padding: 0 60px 120px;
  background-color: #f7e296;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 299px;
  position: relative;
}

.main-navigation .container-absolute {
  position: absolute;
  top: -25px;
  left: 60px;
  right: 60px;
}

.search {
  width: 440px;
  min-height: 49px;
  display: flex;
  position: relative;
}

.header-container {
  margin-bottom: 31px;
  display: flex;
  align-items: center;
}

.header-container .user-navigation {
  margin-left: auto;
  width: 260px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-left: 25px;
}

.header-container > .user-link {
  margin-left: 20px;
  text-align: right;
  padding-left: 25px;
  position: relative;
}

.header-container .basket {
  margin-left: 36px;
}

.header-container .compare::before,
.header-container .basket::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container .compare::before {
  background-image: url(../img/compare.svg);
  left: 5px;
  margin-top: -5px;
}

.header-container .basket::before {
  background-image: url(../img/cart.svg);
  left: 5px;
}

.user-navigation .login::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 13px;
  height: 12px;
  margin-top: -6px;
  background-repeat: no-repeat;
  background-image: url(../img/user.svg);
  left: 0;
  background-size: cover;
}

.user-navigation .login:hover::before,
.header-container .basket:hover::before,
.header-container .compare:hover::before,
.user-navigation .login:focus::before,
.header-container .basket:focus::before,
.header-container .compare:focus::before {
  opacity: 0.6;
}

.user-navigation .login:active::before,
.header-container .basket:active::before,
.header-container .compare:active::before {
  opacity: 0.3;
}

.main-header .logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: -2px;
}

.search input[type=search]::placeholder {
  line-height: 30px;
}

.search input[type=search]:hover::placeholder,
.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header a {
  color: #000000;
}

.site-navigation,
.user-navigation,
.sub-menu {
  list-style: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

.site-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  margin-right: -2px;
}

.site-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-letter-spacing {
  letter-spacing: 3.5px;
}

.site-navigation .header-delivery {
  margin-left: auto;
}

.site-navigation .header-guarantee {
  margin-left: 35px;
}

.site-navigation .header-contacts {
  margin-left: 108px;
}

.site-navigation .catalog-link {
  position: relative;
}

.site-navigation .catalog-link:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-repeat: no-repeat;
  background-image: url(../img/plus.svg);
  opacity: 0.3;
  right: -28px;
  background-size: cover;
}

.site-navigation .catalog-menu {
  position: relative;
}

.catalog-menu:hover .sub-menu {
  display: flex;
}

.site-navigation .sub-menu {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  width: 1160px;
  background-color: #f7e296;
  position: absolute;
  left: -60px;
  padding: 20px 60px 0;
  display: none;
  z-index: 1;
  min-height: 162px;
}

.sub-menu > li {
  margin-right: 55px;
}

.sub-menu > li:nth-child(2) {
  margin-right: 73px;
}

.sub-menu > li:last-child {
  margin-right: 0;
}

.search input[type=search]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input[type=search] {
  background-color: inherit;
  border: none;
  line-height: 30px;
  width: 355px;
  padding-left: 38px;
}

.search::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/search.svg);
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -6px;
  left: 3px;
  background-size: cover;
}

.search input[type=search]:focus {
  box-shadow:inset 0 -2px #000000;
}

.search button {
  display: none;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #000000;
  color: #000000;
  background-color: inherit;
  width: 85px;
  min-height: 49px;
}

.search input[type=search]:focus ~ button {
  display: initial;
}

.search button:hover,
.search button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search button:active {
  color: rgba(255, 255, 255, 0.3);
}

.slider {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
  background-color: #ffffff;
  padding-top: 60px;
  width: 100%;
  margin-bottom: 105px;
  position: relative;
  min-height: 375px;
}

.slider .slide {
  display: none;
  justify-content: flex-end;
  position: absolute;
  top: -111px;
  left: 0;
  right: 60px;
  min-height: 500px;
}

.slider label::before {
  content: "";
  position: absolute;
  background-image: url(../img/slider-button-empty.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  bottom: 0;
  background-size: cover;
  top: 216px;
}

.slider label:nth-of-type(1)::before {
  right: 150px;
}

.slider label:nth-of-type(2)::before {
  right: 116px;
}

.slider label:nth-of-type(3)::before {
  right: 82px;
}

.slider input[value="1-slide"]:checked ~ label:nth-of-type(1)::before,
.slider input[value="2-slide"]:checked ~ label:nth-of-type(2)::before,
.slider input[value="3-slide"]:checked ~ label:nth-of-type(3)::before {
  background-image: url(../img/slider-button.svg);
}

.slider .container {
  width: 520px;
  padding-top: 80px;
  position: relative;
  z-index: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 19px;
  padding-left: 17px;
  min-height: 486px;
}

.slider img {
  margin-left: auto;
  margin-right: auto;
}

.slider .container::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  top: 37px;
  left: 20px;
}

.slider .container::after {
  position: absolute;
  font-size: 179.2px;
  top: 62px;
  right: -13px;
  z-index: -1;
  color: #ffffff;
}

.slide:nth-of-type(1) .container::after {
  content: "01";
}

.slide:nth-of-type(2) .container::after {
  content: "02";
}

.slide:nth-of-type(3) .container::after {
  content: "03";
}

.slide:nth-of-type(1) td:nth-child(2) {
  min-width: 139px;
}

.slide:nth-of-type(1) th:nth-child(2) {
  min-width: 139px;
}

.slide:nth-of-type(2) p {
  padding-right: 41px;
}

.slide:nth-of-type(2) img {
  margin-left: 116px;
  margin-top: 12px;
}

.slide:nth-of-type(3) p {
  padding-right: 22px;
}

.slide:nth-of-type(3) img {
  margin-left: 30px;
  margin-top: 65px;
}

.slider input[value="1-slide"]:checked ~ .slide:nth-of-type(1),
.slider input[value="2-slide"]:checked ~ .slide:nth-of-type(2),
.slider input[value="3-slide"]:checked ~ .slide:nth-of-type(3) {
  display: flex;
}

.slider h3 {
  font-size: 47px;
  line-height: 56px;
  margin: 0 0 18px;
  letter-spacing: 0.6px;
  width: 100%;
}

.slider p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin: 0;
  margin-bottom: auto;
  letter-spacing: -0.2px;
  width: 500px;
  padding-right: 20px;
}

.slider .link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 46px;
  width: 220px;
  text-align: center;
  padding: 9px 0 7px;
  letter-spacing: 3.5px;
  position: relative;
  z-index: 0;
}

.slider .link::after {
  content: "";
  width: 100%;
  background-color: #f0c52e;
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 16px;
  z-index: -1;
  transition: all 0.5s;
}

.slider .link:hover::after,
.slider .link:focus::after {
  top: 0;
  bottom: 0;
}

.slider .link:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider tr {
  text-align: left;
  display: flex;
  margin-bottom: 6px;
}

.slider tr:last-child {
  margin-bottom: 0;
}

.slider tr:last-child {
  margin-bottom: 0;
}

.slider table {
  width: 100%;
}

.slider th {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  min-width: 160px;
}

.slider td {
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  min-width: 160px;
}

.popular-categories {
  margin-bottom: 80px;
}

.popular-categories h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.popular-categories .popular-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 173px;
}

.popular-categories .popular-item {
  width: 160px;
  min-height: 250px;
}
.popular-categories .item-link {
  position: relative;
  width: 100%;
  min-height: 250px;
  display: block;
}

.popular-item .color-box {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  margin-bottom: 35px;
}

.popular-item .item-link::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
}

.popular-item:nth-child(1) .item-link::before {
  background-image: url(../img/popular-1.svg);
  background-size: 97px 55px;
  background-position: 50% 53px;
}

.popular-item:nth-child(2) .item-link::before {
  background-image: url(../img/popular-2.svg);
  background-size: 86px 117px;
  background-position: 50% 42px;
}

.popular-item:nth-child(3) .item-link::before {
  background-image: url(../img/popular-3.svg);
  background-size: 71px 87px;
  background-position: 55% 39px;
}

.popular-item:nth-child(4) .item-link::before {
  background-image: url(../img/popular-4.svg);
  background-size: 107px 65px;
  background-position: 52% 51px;
}

.popular-item:nth-child(5) .item-link::before {
  background-image: url(../img/popular-5.svg);
  background-size: 56px 98px;
  background-position: 52% 33px;
}

.popular-item:nth-child(6) .item-link::before {
  background-image: url(../img/popular-6.svg);
  background-size: 132px 69px;
  background-position: 50% 50px;
}

.popular-item:hover .color-box,
.item-link:focus .color-box {
  background-color: #f0c52e;
}

.item-link:active h3,
.item-link:active:before {
  opacity: 0.3;
}

.services {
  background-color: #e5e5e5;
  margin-bottom: 95px;
  width: 100%;
  min-height: 288px;
}

.services-container {
  display: flex;
  justify-content: space-between;
  min-height: 288px;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.services-absolute {
  position: absolute;
  top: -100px;
  width: 100%;
  display: flex;
  min-height: 320px;
}

.services-container .container-left {
  width: 285px;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000000;
  margin-right: 115px;
}

.services-container .container-right {
  width: 760px;
  padding-top: 73px;
  display: none;
}

.services #delivery:checked + div,
.services #guarantee:checked + div,
.services #credit:checked + div {
  display: block;
}

.services p {
  font-weight: 300;
  margin: 0;
  padding-right: 289px;
}

.services p:last-of-type {
  padding-right: 315px;
}

.services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin: 0;
  letter-spacing: 1px;
  margin-bottom: 31px;
}

.services-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  display: block;
  margin-bottom: 24px;
  width: 160px;
  padding: 9px 0 7px;
  letter-spacing: 3.5px;
  position: relative;
  z-index: 0;
}

.services-button:first-of-type {
  margin-top: 80px;
}

.services-button:last-of-type {
  margin-bottom: auto;
}

.services-button::after {
  content: "";
  width: 100%;
  background-color: #f0c52e;
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 16px;
  z-index: -1;
  transition: top 0.5s, bottom 0.5s;
}

.services-button:hover::after,
.services-button:focus::after {
  top: 0;
  bottom: 0;
}

.services-button:active {
  color: #f7e184;
}

.services-button:active::after {
  width: 280px;
  background-color: #000000;
  top: 0;
  bottom: 0;
}

.logotypes {
  margin-bottom: 95px;
}

.logotypes .brand-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 0;
  line-height: 0;
  justify-content: space-between;
}

.logotypes .link {
  position: relative;
  width: 260px;
  height: 100px;
}

.brand-item .link::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 260px 100px;
  width: 260px;
  height: 100px;
  left: 50%;
}

.brand-item:nth-of-type(1) .link::after {
  background-image: url(../img/logo-1.svg);
}

.brand-item:nth-of-type(2) .link::after {
  background-image: url(../img/logo-2.svg);
}

.brand-item:nth-of-type(3) .link::after {
  background-image: url(../img/logo-3.svg);
}

.brand-item:nth-of-type(4) .link::after {
  background-image: url(../img/logo-4.svg);
}

.info-contacts {
  margin-bottom: 81px;
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.info-contacts .link {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  width: 260px;
  text-align: center;
  padding: 9px 0 7px;
  letter-spacing: 3.6px;
  position: relative;
  z-index: 0;
}

.info-contacts  .link::before {
  content: "";
  width: 100%;
  background-color: #f0c52e;
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 16px;
  z-index: -1;
  transition: top 0.5s, bottom 0.5s;
}

.info-contacts  .link:hover::before,
.info-contacts  .link:focus::before {
  top: 0;
  bottom: 0;
}

.info-contacts  .link:active {
  color: rgba(0, 0, 0, 0.3);
}

.info {
  width: 495px;
  position: relative;
}

.info-contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin: 0;
  margin-bottom: 43px;
  margin-left: -2px;
  letter-spacing: 0.6px;
}

.info-contacts p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 40px;
  margin-left: -2px;
  letter-spacing: -0.2px;
  padding-right: 15px;
}

.info p {
  margin-bottom: 31px;
}

.info ul {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  list-style: none;
  margin: 0;
  margin-top: 66px;
  margin-bottom: 55px;
  padding-left: 36px;
}

.info::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: -52px;
  left: 0;
}

.contacts {
  width: 560px;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: -52px;
  left: 0;
}

.contacts a:first-of-type {
  font-size: 0;
  line-height: 0;
}

.contacts img {
  margin-bottom: 60px;
}

.contacts .link:active {
  color: #f7e184;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-container {
  width: 1200px;
  padding: 60px 20px 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.footer-container .footer-top,
.footer-container .footer-middle,
.footer-container .footer-bottom {
  display: flex;
}

.footer-top > .user-link {
  margin-left: 36px;
  text-align: right;
  padding-left: 25px;
  position: relative;
}

.footer-top > .user-link::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  top: 50%;
  margin-top: -12px;
  left: 5px;
}

.footer-top .compare::before {
  background-image: url(../img/compare-footer.svg);
}

.footer-top .basket::before {
  background-image: url(../img/cart-footer.svg);
}

.footer-top .user-navigation {
  width: 260px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.footer-top .footer-user-link {
  position: relative;
  padding-left: 25px;
}

.footer-top .footer-user-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-size: 13px 12px;
  top: 50%;
  margin-top: -6px;
  left: 0;
}

.main-footer .logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #ffc600;
  cursor: pointer;
}

.main-footer .logo:hover,
.main-footer .logo:focus {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-top a:hover,
.footer-top a:focus {
  color: #ffffff;
}

.footer-top .user-link:hover::before,
.footer-top .user-link:focus::before {
  opacity: 0.6;
}
.footer-top .user-link:active::before {
  opacity: 0.3;
}

.footer-top a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
}

.footer-middle {
  margin-bottom: 63px;
}

.footer-middle ul {
  display: flex;
  padding: 0 5px;
  margin-left: 151px;
  margin-right: auto;
}

.footer-middle p {
  color: #ffffff;
  margin: 0;
}

.footer-middle .services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.footer-middle li {
  margin-left: 34px;
}

.footer-middle li:first-child {
  margin-left: 0;
}

.footer-middle .services-link:hover,
.footer-middle .services-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle .services-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

.footer-bottom .footer-social {
  width: 162px;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
}

.footer-social .social-button {
  position: relative;
  width: 32px;
  height: 32px;
}

.footer-social .social-button::after {
  content: "";
  position: absolute;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  left: -16px;
}

.footer-social .facebook::after {
  background-image: url(../img/fb.svg);
}

.footer-social .instagram::after {
  background-image: url(../img/instagram.svg);
}

.footer-social .twitter::after {
  background-image: url(../img/twitter.svg);
}

.footer-social .social-button:hover::after,
.footer-social .social-button:focus::after {
  opacity: 0.6;
}

.footer-social .social-button:active::after {
  opacity: 0.1;
}

.footer-bottom .html-academy {
  position: relative;
  width: 27px;
  height: 35px;
}

.footer-bottom .html-academy::after {
  content: "";
  position: absolute;
  background-size: 27px 35px;
  background-repeat: no-repeat;
  width: 27px;
  height: 35px;
  background-image: url(../img/logo-html.svg);
}

.footer-bottom .html-academy:hover::after,
.footer-bottom .html-academy:hover::after {
  opacity: 0.6;
}

.footer-bottom .html-academy:active::after {
  opacity: 0.3;
}

.footer-bottom:before {
  content: "";
  width: 80px;
  height: 7px;
  display: block;
  background-color: #ffc600;
  margin-top: 13px;
  margin-right: 419px;
}

.write-us {
  background-color: #ffffff;
  color: #000000;
  width: 960px;
  padding: 95px 100px;
}

.write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.write-us input::placeholder,
.write-us textarea::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4)
}

.write-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us li {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.write-us textarea {
  width: 760px;
  height: 155px;
}

.write-us input {
  width: 360px;
}

.write-us input,
.write-us textarea {
  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: rgba(234, 234, 234, 0.8);
}

.write-us input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  outline: 3px solid rgba(237, 181, 181, 0.5);
}

.write-us input:focus,
.write-us textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 3px solid rgba(240, 197, 46, 0.5);
}

.write-us .button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  width: 200px;
  text-align: center;
}

.write-us .button:hover,
.write-us .button:focus {
  color: rgba(0, 0, 0, 0.6);
}


.write-us .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal .modal-close {
  background-color: initial;
  border: none;
}

/*===================================CATALOG.HTML====================================*/

.main-header .exit {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer .exit {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-main .page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 25px;
}

.breadcrumbs {
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  margin-left: 60px;
  display: flex;
}

.breadcrumbs li {
  margin-right: 30px;
}

.breadcrumbs li:hover,
.breadcrumbs li:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  padding-left: 60px;
}

.filters {
  background-color: #efefef;
  font-size: 14px;
  width: 268px;
  padding-right: 68px;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 23px 0 80px 0;
}

.filters legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.filters ul {
  list-style: none;
  padding: 0;
}

.filters input + label {
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.filters input:disabled+label {
  color: rgba(0, 0, 0, 0.25);
}

.filters input:hover,
.filters input:focus {
  color: rgba(0, 0, 0, 0.6);
}

.filters button {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  width: 200px;
  text-align: center;
}
.filters button:active {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 73px;
  margin-bottom: 78px;
}

.sorting {
  background-color: #efefef;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  margin-bottom: 70px;
}

.sorting h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 23px 0;
  margin-right: 55px;
}

.sorting .arrows {
  margin-left: auto;
}

.sorting ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: #000000;
}

.sorting .active {
  color: #000000;
}

.catalog h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  width: 270px;
}

.catalog p {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.catalog-list .catalog-item {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 45px;
}

.catalog-item img {
  margin-bottom: 32px;
}

.catalog-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.catalog .item-hover {
  opacity: 0;
  background-color: #eeeeee;
}

.catalog-item img:hover + .item-hover {
  opacity: 1;
}

.item-hover {
  width: 360px;
  height: 380px;
  background-color:  rgba(238, 238, 238, 0.7);
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.item-hover .item-basket {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: initial;
  margin-top: 50%;
}

.item-hover .item-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-hover .item-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: initial;
}

.item-hover .item-compare:hover,
.item-hover .item-compare:focus {
  color: #000000;
}

.item-hover .item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog .pagination-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ebebeb;
  list-style: none;
  padding: 0;
}

.catalog .active {
  color: #000000;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-list li {
  margin: 25px 30px;
}

.pagination-list .backward {
  margin-right: auto;
}
.pagination-list .forward {
  margin-left: auto;
}

.pagination-list .pagination-item {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list .pagination-item a:hover,
.pagination-list .pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list .pagination-item a:active {
  color: #000000;
}

.pagination-list .backward a:hover,
.pagination-list .forward a:hover,
.pagination-list .backward a:focus,
.pagination-list .forward a:focus {
  background-color: #d9d9d9;
}

.pagination-list .backward a:active,
.pagination-list .forward a:active {
  color: rgba(0, 0, 0, 0.3);
}

